@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #d2c5bc;
  margin: 0; 
}


h2 {
  color: black;
  font-size: 130px;
  margin: 16px;
  font-family: 'Bebas Neue', sans-serif;
  text-align-last: justify;
}

h3 {
  background-color: black;
  color: #d2c5bc;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
  padding: 8px;
  bottom: 0;
  left: 0;
}

#banner {
  max-width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  overflow: hidden; 
}

.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: #d2c5bc;
  padding-left: 5vw;
  padding-right: 5vw;
}

.gallery_img {
  max-width: 20vw;
  object-fit: cover; 
  object-position: 50% 50%;
}

.image-container > div {
  text-align: center;
}

.image-container > div:hover {
  opacity: .8;
}
