@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
@import url("https://use.typekit.net/ejw1vhb.css");
@import url("https://use.typekit.net/hwp6rle.css");

h2{
  font-family: copal-std-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: left;
  position: absolute;
  top: 5%; 
  right: 9%;
}

#contact{
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-align: left;
  position: absolute;
  top: 19%; 
  right: 9%;
  color: #3C3D00;
}

h3{
  font-family: copal-std-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: left;
  position: absolute;
  top: 0%; 
  right: 9%;
}

.hero{
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

body{
  background-color: #F2DFEB;
}

#image{
	width: 100vw;
	position: absolute;
	bottom: 0;
  left: 0;
}

.sidenav {
  height: 100%; 
  width: 60px; 
  position: fixed; 
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav img{
  max-width: 40px;
  height: auto;
  padding: 10px; 
  display:block;
}

.widenav {
  height: 100%; 
  width: 180px; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; 
  padding-top: 25px;
  padding-left: 60px;
}

.widenav button{
  font-size: 20px;
  display:block;
  color: white;
  margin: 10px;
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #BF391B;
  display:block;
  border-style: none;
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
}

a{
  text-decoration: none;
}

#aboutme{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

#aboutmeimg {
  margin-top: 12px; 
  margin-right: auto; 
  padding-top: 180px;
  padding-left: 120px;
  width:100%
}

#aboutmetext{
  color: #3C3D00;
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 200px;
  padding-left: 120px;
  padding-right: 40px;
}

.picture-holder {
  padding: 2rem;
  padding-left: 60px;
  padding-top: 0;
}

.picture-holder > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
  grid-gap: 8rem;
  grid-row-gap: 4rem; 
}

.picture-holder > ul > li {
  border: none;
  list-style-type: none;
  align-content: center;
  margin-left: 35px;
}

.picture-holder > ul > li > img {
  width: 20rem;
  height: auto;
  overflow: hidden;
}

h1{
  color: #3C3D00;
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 160px;
  padding-left: 120px;
  padding-right: 50px;
  font-size: 28px;
}

button {
  background-color: #3C3D00;
  color: white;
  font-family: athelas, serif;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  padding: .5rem; 
  width: 20rem;
}

.linked:hover {
  opacity: .8;
}

h5{
  background-color: #BF391B;
  color: #BF391B;
  padding: 24px;
  margin: 0px;
  font-size: 16px;
}

li {
  padding: 6px;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  font-family: athelas, serif;
  font-size: 20px;
}

h4{
  font-family: copal-std-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #BF391B;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px; 
}

h6{
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px; 
  text-align: center;
  margin: 8px;
}

