@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

li {
	padding: 6px;
	margin-left: 15vw;
	margin-right: 15vw;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

.hg__menu { 
	background-color: #023A40;
	color: white;
	margin: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: right;
}

div#menu{
  display: inline-block;
  margin-right: 5%;
}


b {
  font-family: 'Playfair Display', serif;
  background-color: #023A40;
  color: white;
  text-align: center;
  display: inline-block;
  padding: .75rem; 
  width: 8rem;
}

b:hover {
  opacity: .6;
}


.hg__header {
  background-color: #023A40;
  padding: 0rem;
  color: white;
  font-size: 4rem;
}

.hg__footer {
  background-color: #023A40;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 25px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

button {
  background-color: #047084;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  padding: .5rem; 
  width: 20rem;
}

.linked:hover {
  opacity: .6;
}

.picture-holder {
  padding: 2rem;
}

.picture-holder > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
  grid-gap: 8rem;
  grid-row-gap: 4rem; 
}

.picture-holder > ul > li {
  border: 1px solid white;
  border-radius: .5rem;
  list-style-type: none;
  align-content: center;
  margin-left: 35px;
}

.picture-holder > ul > li > img {
  width: 20rem;
  height: auto;
  overflow: hidden;
}

